
@{
    ViewBag.Title = "MyMusicList";
}

<h2>My Music List</h2>

<p>Bat For Lashes - What's a girl to do</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ATVtZP_NSLg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<br />

<p>Die Antwoord - Cookie Thumper</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/BWNVL13kKeE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<br />

<p>The Black Keys - Tighten Up</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/mpaPBCBjSVc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>