@model MP2.Models.ArtistViewModel

@{
    ViewBag.Title = "SearchArtistByName";
}

<h2>SearchArtistByName</h2>



@*<table class="table table-dark">
   
    <tr>
        <th>Name</th>

        @foreach (var item in @Model)
        {
        <tr>
            <td>


                @item.ArtistName

            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
            </td>







        </tr>
    }
    </table>*@